<header class="sticky">
  <h1>{{title}}</h1>
  <a routerLink="personas-crear"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Crear persona</span>
  </a>
  <a routerLink="persona-editar"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Editar persona</span>
  </a>
  <a routerLink="persona-gestionar"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Gestionar persona</span>
  </a>
  <a routerLink="componente-apoyo"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Apoyo</span>
  </a>
</header>