<h2>Gestionar persona</h2>
<form>
    <div style="width:50%; float:left;">
        <label for="tipoIdentificacion">Tipo identificación: </label>
        <br>
        <select name="tipoIdentificacion">
            <option value="cedula">Cédula</option>
            <option value="tarjetaIdentidad">Tarjeta identidad</option>
            <option value="pasaporte">Pasaporte</option>
        </select>
        <br>
    </div>
    <div style="width:50%; float:left;">
        <label for="numberId">Número identificación: </label>
        <br>
        <input name="numberId" type="text"  placeholder="Número identificación" />
        <br>
        <br>
        <br>
        <input value="Consultar" type="button">
        <br>
        <br>
        <br><br>
    </div>
    
</form>
